doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Chat
    script(src='//code.jquery.com/jquery-1.11.1.min.js')
    script(src='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js')
    //- link#bootstrap-css(href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css', rel='stylesheet')
    link(
        rel='stylesheet', 
        href='https://use.fontawesome.com/releases/v5.1.0/css/all.css', 
        integrity='sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt',
        crossorigin='anonymous'
        )
    //- script(src='//code.jquery.com/jquery-1.11.1.min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
    link#bootstrap-css(href='//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css', rel='stylesheet')
    //- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    link(rel='stylesheet', href='css/main.css')
  body
    .container.auth-form-container
      .row
        .span12
          #loginModal
            h3.text-center Welcome to chat!
            .well
             .center-block(style = 'width: 400px;')
              ul.nav.nav-tabs
                li
                  a(href='#login', data-toggle='tab') Login
                li.active
                  a(href='#register', data-toggle='tab') Register
              #myTabContent.tab-content
                #login.tab-pane.fade
                  form#login-form
                    fieldset
                      #legend
                        legend Login
                      .form-group
                        label.control-label(for='nickname') Nickname
                        .controls
                          input#nickname.form-control(type='text', name='nickname', placeholder='')
                      .form-group
                        label.control-label(for='password') Password
                        .controls
                          input#password.form-control(type='password', name='password', placeholder='')
                      .form-group
                        .controls
                          button.btn.btn-success Login
                #register.tab-pane.active.in
                  #tab
                   form#register-form
                    fieldset
                      #legend
                        legend Registrer
                      .form-group
                        label.control-label(for='register_nickname') Nickname
                        .controls
                          input#register_nickname.form-control(type='text', name='nickname', placeholder='')
                      .form-group
                        label.control-label(for='password') Name
                        .controls
                          input#name.form-control(type='password', name='name', placeholder='')
                      .form-group
                        label.control-label(for='register_password') Password
                        .controls
                          input#register_password.form-control(type='password', name='password', placeholder='')
                      .form-group
                        .controls
                           button.btn.btn-primary Register

    .container.chat-container
      .row
        .panel.panel-primary
          .panel-heading
            span.glyphicon.glyphicon-comment
            |  Chat
            span#logout-btn  Logout

          ul#users-list.users-list.col-md-3
          
          .col-md-9.chat-body-wrp
            ul#msg-list.chat.panel-body
  
            .panel-footer
              form#send-msg-form
                #input-nickname-tab.input-nickname-tab
                  ul.users-list#users-list-tab
                .input-group
                  input#btn-input.form-control.input-sm(
                    name='msgInput', type='text', placeholder='Type your message here...',autocomplete="off"
                   )
                  span.input-group-btn
                    button#send-msg-btn.btn.btn-warning.btn-sm(type='submit')
                      | Send

    script(src="/socket.io/socket.io.js")
    //- script(type='text/javascript').
    //-   var currentUser = !{JSON.stringify(currentUser)}
    script(src='js/chat.js')